.home-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
  
}
.home-page img{
    position: absolute;
    top: 20px;
    width: 140px;
}
.fundo-video{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fundo-video video{
    height: 100vh;

}

.fundo-video::after {
    content: "";
    background:linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 50%, rgb(0, 0, 0) 100%);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

/* Arrow Animation */
#txt-arrow{
    position: absolute;
    top: 88%;
    left: 48%;
    transform:translate(-50%, -50%);
}
.arrow{
    position: absolute;
    top: 93%;
    left: 50%;
    transform:translate(-50%, -50%);
}
.arrow span{
    display: block;
    width: 13px;
    height: 13px;
    border-bottom: 2px solid #D68A00;
    border-right: 2px solid #D68A00;
    transform: rotate(45deg);
    margin: -8px;
    animation: scroll 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -.2s;
}
.arrow span:nth-child(3){
    animation-delay: -.4s;
}
@keyframes scroll {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px); 
    }
}
/* Arrow Animation */


.home-txt-btn{
    align-items: center;
    display: flex;
    flex-direction: column;    
    justify-content: center;
}

.home-txt-btn h1{
    font-size: 7rem;
    margin-top: 35px;
    margin-left: 30px;
    font-family: mreyboll;
    font-weight: 400;
    color: #D68A00;
}
.home-txt-btn h1 span{
    color: #fff;
    font-family: mreyboll;
    font-weight: 400;
    font-size: 9rem;
}
.home-txt-btn p{
    width: 550px;
    margin-bottom: 15px;
    margin-left: 5px;
    font-size: 1.6rem;
    margin-left: 30px;

}
.home-txt-btn p span{
    font-weight: 700;
    
}
.home-btn{
    width: 450px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.home-btn a{
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    text-decoration: none;
    border-radius: 15px;
    border:  1px solid white;
    color: white;
    transition: 0.3s ease all
}

.home-btn #insc{
    background-color: #D68A00;
    color: #000;
    border: none;
    width: 250px;
    font-weight:700 ;
}


.home-btn a:hover{
scale: 1.1
}


