main{
    width: 100%;
    height: 100%;
}
body{

}
.home-page img{
    width: 100px;
    
}
.home-page h1{
    font-size: 2.7rem;
    font-family: poppins;
    font-weight:bolder ;
    color: #D68A00;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    text-align: center;
    margin: 0;
}
.home-page h1 span{
    color: #fff;
    font-size: 3.2rem;
    font-family: poppins;
    font-weight: bolder;
}
.home-page p{
    width: 90%;
    margin: 30px 0px 15px 0px;
    font-size: 1.3rem;
}
#txt-arrow{
    top: 83%;
    left: 50%;
}




.cards-info{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px 0px;
    gap: 15px;
}   
.card-info{
    width: 80%;
    height: 200px;
}
.card-info p{
    width: 90%;
}




.txt-sobre{
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}
    
.txt-sobre h1{
    width: 90%;
    text-align: center;
    font-size: 2.5rem;
    color:#D68A00;
    margin-bottom: 10px;
}
.txt-sobre p{
    color: white;
    font-size: 1.7rem;
    line-height: 3rem;
    text-align: center;
    width: 80%;
}
.sobre-img{
    width: 250px;
    height: 250px;
}


.more-info .info{
    width: 80%;
    text-align: center;
    align-items: center;
}

.info h4 {
    color:#D68A00;
    font-size: 2.7rem;
    width: 350px;
  
}
.info p {
    font-size: 1.8rem; 
    width: 300px; 
}


.for{
    padding: 30px 0px;
}

.for h1{
    width: 100%;
    padding: 20px;
    font-size: 2.5rem;
    text-align: center;
}
.for-txt ul li{
    padding: 20px 0px;
    width: 80%;
    height: 200px;
    align-items: center;
    justify-content: center;
}
.for-txt ul li i{
    z-index: 9;  
}
.for-img img{
    display: none;
}
.modulos{
    padding: 30px 0;
}
.modulos a{
    font-size: 2rem;
    margin: 30px 0px;
}
.modulos h1{
    font-size: 2.5rem;
    padding: 20px;
}
.modulos img{
    width: 150px;
}




.whats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 30px;
    margin: 0;

}

.whats-txt{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.whats img{
 
    width: 300px;
    height: 300px;
}

.whats-txt a{
    width: 80%;

}
#btn-whats{
 
    width: 100%;
}
#btn-whats p {
    width: 100%;
    height: 50px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    background-color: #25D366;
    border-radius: 20px;
    color: #000;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 30px 0px;
}
#insta-icon{
    display: flex;
    align-items: center;
    justify-content:center;
   
}
#insta-icon i{
    font-size: 2rem;
}
#insta a{
    width: 100%;
    text-align: left;
    font-size: 1.2rem;


    
}


.aulas-img img{
    width: 100%;
}

#prev-button, #next-button{
    width: 40px;
    height: 40px;

}


.duvidas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
}


.duvidasright .duvida{
    width: 100%;
    
}

.faqs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
 
}

.answer p{

    width: 320px;
}



.valor{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.valor-left{
    width: 350px;
}

.valor-left img{
    width: 150px;
}
.valor-left h3{
    font-size: 3rem;
    padding-top: 30px;
}
.valor-left h3 span{
    font-size: 4rem;
    color: #D68A00;

}
.valor-left p{
    padding: 15px;
}

.valor-left #insc{
    width: 320px;
    font-size: 1.7rem;
}
.btn-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    gap: 35px;
}
.btn-icons p{
    font-size: 1.3rem;
}


.valor-right{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 30px 0px 0px 0px;
   
}
.valor-right h3 {
    color:#D68A00;
    font-size: 2.5rem;
    text-align: center;
}
.valor-right p {
    padding: 15px 0px 25px 0px;    
    border-bottom: 2px  solid #D68A00;
    text-align: center;
}

