.sobre{
    color: white;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    height: auto;
}

.txt-sobre{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txt-sobre h1{
    font-size: 3.7rem;
    color:#D68A00;
    margin-bottom: 20px;

}
.txt-sobre h1 span{
    color: white;
}

 .txt-sobre p{
    color: white;
    width: 1000px;
    font-size: 1.7rem;
    line-height: 3.5rem;
    text-align: center;
}
.sobre-img{
    width: 400px;
    
    
}
.sobre img{
    width: 90%;
    border-radius: 5px;
}

